#App {
	text-align: center;
	/*background-color: black;
	color: white;*/
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}

/* Default app-wide stuff */
input {
	font-size: inherit;
}

.editable-field {
	text-align: inherit;
}